{% extends "base.html" %}

{% block content %}

<h1>ADD FUEL</h1>

<form action="" method="post">
    {{ add_fuel_data_form.hidden_tag() }}
    <p>
        {{ add_fuel_data_form.vehicle_nickname.label }}<br>
        {{ add_fuel_data_form.vehicle_nickname(size=32) }}<br>
        {% for error in add_fuel_data_form.vehicle_nickname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_fuel_data_form.entry_date.label }}<br>
        {{ add_fuel_data_form.entry_date(size=64) }}<br>
        {% for error in add_fuel_data_form.entry_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_fuel_data_form.fuel_price.label }}<br>
        {{ add_fuel_data_form.fuel_price(size=32) }}<br>
        {% for error in add_fuel_data_form.fuel_price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_fuel_data_form.vehicle_mileage.label }}<br>
        {{ add_fuel_data_form.vehicle_mileage(size=32) }}<br>
        {% for error in add_fuel_data_form.vehicle_mileage.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_fuel_data_form.fuel_cost.label }}<br>
        {{ add_fuel_data_form.fuel_cost(size=32) }}<br>
        {% for error in add_fuel_data_form.fuel_cost.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p>{{ add_fuel_data_form.submit() }}</p>
</form>

<div class="container mt-5">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
</div>

{% endblock %}
