{% extends "base.html" %}

{% block content %}

<h1>View Fuel Log</h1>

<div>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">User_ID</th>
              <th scope="col">Entry Date</th>
              <th scope="col">VRN</th>
              <th scope="col">Fuel Price</th>
              <th scope="col">Vehicle Mileage</th>
              <th scope="col">Fuel Cost</th>
              <th scope="col">Actual Miles</th>
              <th scope="col">Litres</th>
              <th scope="col">Gallons</th>
              <th scope="col">MPG</th>
              <th scope="col">Action</th>
            </tr>
          </thead>

          <body>
            {% for entry in fuel_log %}
                <tr>
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.user_id }}</td>
                    <td>{{ entry.entry_date.strftime('%d-%m-%Y') }}</td>
                    <td>{{ entry.vrn }}</td>
                    <td>{{ entry.fuel_price }}</td>
                    <td>{{ entry.vehicle_mileage }}</td>
                    <td>{{ entry.fuel_cost }}</td>
                    <td>{{ entry.actual_miles }}</td>
                    <td>{{ entry.litres }}</td>
                    <td>{{ entry.gallon }}</td>
                    <td>{{ entry.mpg}}</td>
                    <td>ACTION</td>
                </tr>
            {% endfor %}

          </body>
    </table>
</div>

<div class="container mt-5">
  <button class="btn btn-secondary" onclick="history.back()">Back</button>
</div>

{% endblock %}
